.advance_cash_details .advance_cash_details_container {
    font-family: Poppins;
}

.advance_cash_details .advance_cash_details_container .finger-prints {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-gap: 20px;
}

.advance_cash_details .advance_cash_details_container .finger-prints img {
    border-radius: 10px;
}

.advance_cash_details .advance_cash_details_container #FPImage1,
.advance_cash_details .advance_cash_details_container #FPImage2 {
    cursor: pointer;
    transition: .5s;
    padding: 10px 30px;
    border-radius: 5px;
    width: 150px;
    height: 140px;
}

.advance_cash_details .advance_cash_details_container #FPImage1:hover,
.advance_cash_details .advance_cash_details_container #FPImage2:hover {
    background-color: rgb(211, 211, 211, .5);
}

.advance_cash_details .advance_cash_details_container .grid {
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-gap: 20px;
}

#ac_to_print .print_status {
    position: fixed;
    top: 120px;
    right: 200px;
    border: 1px solid #000;
    padding: 10px 10px 5px;
    border-radius: 5px;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    transform: rotate(-20deg) translate(0, 5px);
}